<div
  class="h-screen flex items-center justify-center bg-gradient-to-r from-cyan-400 via-purple-400 to-green-500"
>
  <div class="">
    <div
      class="absolute -top-2 -left-2 -right-2 -bottom-2 rounded-lg bg-gradient-to-r from-[#3b5998] via-purple-400 to-purple-950 shadow-lg animate-pulse"
    ></div>
    <div
      id="form-container"
      class="bg-white p-16 rounded-lg shadow-2xl w-80 relative z-10 transform transition duration-500 ease-in-out"
    >
      <h2
        id="form-title"
        class="text-center text-3xl font-bold mb-10 text-gray-800"
      >
        Cadastro
      </h2>
      <form class="space-y-5" [formGroup]="registerForm">
        <input
          class="w-full h-12 border border-gray-800 px-3 rounded-lg"
          placeholder="Email"
          id=""
          name=""
          type="text"
          formControlName="email"
        />

        <select
          class="w-full h-12 border border-gray-800 px-3 rounded-lg"
          formControlName="type"
          matNativeControl
          required
        >
          <option value="" disabled selected>Selecione um tipo</option>
          <option value="ADM">Admin</option>
          <option value="Employee">Funcionario</option>
        </select>

        <input
          class="w-full h-12 border border-gray-800 px-3 rounded-lg"
          placeholder="Password"
          type="password"
          formControlName="password"
          name="password"
        />

        <input
          class="w-full h-12 border border-gray-800 px-3 rounded-lg"
          placeholder="Confirm Password"
          type="password"
          formControlName="confirmPassword"
          name="confirmPassword"
        />
        <button
          (click)="register()"
          class="w-full h-12 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Criar Conta
        </button>
      </form>

      <p class="text-center">
        Já possui uma conta?
        <a
          class="text-primary font-bold hover:underline text-blue-500"
          href="auth/login"
        >
          Faça login</a
        >
      </p>
    </div>
  </div>
</div>
